* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	gap: 0px 0px;
	grid-auto-flow: row;
	grid-template-areas:
		'header header'
		'image info'
		'extra-info extra-info';

	background-image: url(./assets/background-stars.svg);
	background-color: #070724;
	background-size: cover;
	background-repeat: no-repeat;
}

.header {
	grid-area: header;
	outline: 1px solid red;
	display: flex;
	justify-content: space-between;
	padding: 22px 32px;
}

.header_logo {
	font-family: 'Antonio', sans-serif;
	font-size: 28px;
	text-transform: uppercase;
	color: white;
}

.image {
	grid-area: image;

	outline: 1px solid green;
}

.info {
	grid-area: info;

	outline: 1px solid yellow;
}

.extra-info {
	grid-area: extra-info;

	outline: 1px solid blue;
}
